html{
    scroll-behavior: smooth;
}

nav.black{
    background: #1F1F1F;
}

/* NAVBAR */
.logo{
    height: 50px;
}

.nav-item{
    background: #1F1F1F;
}

/* JUMBOTRON */
.jumbotron{
    position: relative;
    background-image: url('../images/jumbotron.png');
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.btn-custom1{
    color: #ffffff; 
    background-color: #FF6666; 
    border: none;
    height: 50px;
    width: 200px;
    margin: 10px;
}

.btn-custom1:hover{
    color: #ffffff; 
    background-color: #ff8a8a; 
    border: none;
}

.btn-custom2{
    color: #ffffff; 
    background-color: #1DB6F2; 
    border: none;
    height: 50px;
    width: 200px;
    margin: 10px;
}

.btn-custom2:hover{
    color: #ffffff; 
    background-color: #61c6ee; 
    border: none; 
}

/* ABOUT */
.about{
    position: relative;
    background-image: url('../images/bg-about.png');
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    margin-top: -35px;
    padding-top: 15px;
    padding-bottom: 120px;
}

/* SERVICE */
.service{
    position: relative;
    background-image: url('../images/bg-service.png');
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    margin-top: -35px;
    padding: 50px;
}

.box-service{
    background-color: #161616;
    box-shadow: 5px 5px 5px #00000070;
    border-right: 10px solid #1DB6F2;
    border-bottom: 10px solid #1DB6F2;
    padding: 20px;
}

.typo-service{
    font-size: 14px;
}

.icon-service{
    height: 75px;
}

.btn-service{
    color: #ffffff; 
    background-color: #FF6666; 
    border: none;
}

.btn-service:hover{
    color: #ffffff; 
    background-color: #ff8a8a; 
    border:none;
}

/* PORTFOLIO */
.portfolio{
    position: relative;
    background-image: url('../images/bg-portfolio.png');
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    margin-top: -35px;
    padding: 50px;
}

.box-portfolio{
    background-color: white;
    box-shadow: 5px 5px 5px #00000070;
    border-right: 10px solid #FF6666;
    border-bottom: 10px solid #FF6666;
}

.img-portfolio{
    height: 300px;
}

.btn-portfolio{
    color: #ffffff; 
    background-color: #1DB6F2;
    width: 100px; 
    border: none;
    font-weight: bold;
}

.btn-portfolio:hover{
    color: #ffffff; 
    background-color: #61c6ee; 
    border:none;
}

.btn-custom3{
    color: #000000; 
    background-color: #8F8F8F; 
    border-color: #8F8F8F;
    width: 150px;
    font-weight: bold;
}

.btn-custom3:hover{
    color: #000000; 
    background-color: #c7c7c7; 
    border-color: #c7c7c7; 
}

.btn-gotop{
    position: fixed;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.274);
    bottom: 40px;
    right: 40px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 22px;
}

/* CONTACT */
.contact{
    position: relative;
    background-image: url('../images/bg-contact.png');
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    margin-top: -35px;
    padding: 50px;
}

.icon-contact{
    margin-top: -10px;
    height: 50px;
}

/* FOOTER */
.bg-footer{
    background-color: #1F1F1F;
    height: 50px;
}

/* DESKROP VERSION */

@media (min-width: 992px) {
    .nav-item{
        text-transform: uppercase;
        background: transparent;
    }

}